
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
/* added by me */
footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: 'Indie Flower', cursive, sans-serif;
}
